.logo img {
  width: 100%;
  height: auto;
}

body {
	background-image:url(imgFondo.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

.menu {
	background: #4a4a4a;
	border-radius: 0px 0px 20px 20px;
	padding: 0;
}

.listaMenu {
	display: flex;
	justify-content: space-evenly;
}

.listaMenu > li {
	padding: 8px 8px 8px 8px;
	border-radius: 20px 20px 20px 20px;
	background: #e0e0e0;
}

/* ¿Qué coño se pone acá? */
/*
.otrosItem {
	transition: 
}

.otrosItem:hover {
	
}
*/

.principal {	
	padding: 1px 20px 1px 20px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.principal > div {
	padding: 0px 8px 4px 8px;
	border-radius: 10px 10px 10px 10px;
	background: #cfcfcf;
}