* {
	font-family: Arial Rounded MT;
}

.presentacion {	
	padding: 1px 20px 1px 20px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.acerca {
	padding: 0px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.acercaVida {
	padding: 0px 8px 4px 8px;
	border-radius: 10px 10px 10px 10px;
	background: #cfcfcf;
}

.acercaLore {
	padding: 0px 8px 4px 8px;
	border-radius: 10px 10px 10px 10px;
	background: #cfcfcf;
}