* {
font-family: 'Franklin Gothic', 'Arial Rounded MT', 'Trebuchet MS', 'Berlin Sans FB', 'Tw Cen MT';
}

.logo img {
  width: 100%;
  height: auto;
}

body {
	background-image:url(../imagenes/imgFondo.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

/* Menu Normal */
button {
	display: none;
}

.menu { /*Incluye la imágen, y pone todo el fondo del menu en gris oscuro.*/
	background: #4a4a4a;
	border-radius: 0px 0px 20px 20px;
	padding: 0;
}

.navegacion ul{ /*Afecta toda la lista en la etiqueta de navegador, no incluye la imagen.*/
	list-style: none;
}

.listaMenu {
	display: flex;
	flex-direction:row;
	justify-content: space-evenly;
	padding: 0px 0px 4px 0px;
	margin: 0;

}

.listaMenu > li{ /*Afecta la lista en sí y las coloca en linea.*/
	position: relative;
	display: inline-block;
}

.listaMenu > li > a {
	display: block;
	padding: 10px 36px;
	border-radius: 20px 20px 20px 20px;
	background: #e0e0e0;
	text-decoration: none;
}

.listaMenu li a:hover {
	color: #CE7D35;
	transition: all .3s;
}

.submenuDocs {
	position: absolute;
	background: #d1d1d1;
	padding: 0px 0px 0px 12px;
	width: 120%;
	border-radius: 20px 20px 20px 20px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.submenuDocs li a {
	display: block;
	padding: 8px;
	text-decoration: none;
}

.listaMenu li:hover .submenuDocs {
	visibility: visible;
	opacity: 1;
}

.submenuOtros {
	position: absolute;
	background: #d1d1d1;
	padding: 0px 0px 0px 12px;
	width: 120%;
	border-radius: 20px 20px 20px 20px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.submenuOtros li a {
	display: block;
	padding: 8px;
	text-decoration: none;
}

.listaMenu li:hover .submenuOtros {
	visibility: visible;
	opacity: 1;
}

/* Menu Celulares */

@media (max-width: 574px){
	button {
	display: none;
	}
	
	.listaMenu {
		display:flex;
		flex-direction: column;
	}
	.submenuDocs {
	position: fixed;
	}
	.submenuOtros {
	position: fixed;
	}
}

/* Pie de Página */

.pie {
	padding: 1px 20px 1px 20px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.pie2 {
	display: flex;
	justify-content: space-evenly;
}

a {
	text-decoration: none;
	color: #000000;
}
