.presentacion {	
	padding: 1px 20px 1px 20px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.contenConDos {
	padding: 0px 20px 20px 20px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.contenChiqui {
	padding: 0px 8px 4px 8px;
	border-radius: 10px 10px 10px 10px;
	background: #cfcfcf;
}

/*Espacio de Index*/

.descarga {
	color: #ff9900;
}

blockquote { /*Este es único para Tiktok*/
	border-radius: 10px 10px 10px 10px;
}

/*Espacio de cualquier lista*/
.contenListas {
	padding: 0px 0px 20px 0px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.lista {
	display: flex;
	justify-content: space-evenly;
}

.lista > div {
	padding: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #cfcfcf;
}

.lista > p {
	margin: 0;
}