* {
font-family: 'Franklin Gothic', 'Arial Rounded MT', 'Trebuchet MS', 'Berlin Sans FB', 'Tw Cen MT';
}

.logo img {
  width: 100%;
  height: auto;
}

body {
	background-image:url(../imagenes/imgFondo.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}

/* Menu Normal */

.menu { /* Coloca una "burbuja" de color gris alrededor de la imagen con bordes inferiores redondeados*/
	background: #4a4a4a;
	border-radius: 0px 0px 20px 20px;
}

.navegacion ul{ /* Quita el estilo de lista a todos los elementos de esta */
	list-style: none;
	justify-content: space-evenly;
}

.listaMenu {
	display: flex;
	flex-direction: row;
	margin: 0px;
}

.listaMenu > li {
	position: relative;
	display: inline-block;
}

.listaMenu > li > a { /* Agrega un rectángulo redondeado color blanco a cada item */
	display: block;
	padding: 10px 36px;
	margin: 2px;
	border-radius: 20px;
	background: #e0e0e0;
}

.listaMenu li a:hover {
	color: #CE7D35;
}

.submenuDocs {
	position: absolute;
	background: #d1d1d1;
	padding: 0px 12px;
	border-radius: 8px 8px 20px 20px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.submenuDocs li a {
	display: block;
	padding: 8px;
}

.listaMenu li:hover .submenuDocs {
	visibility: visible;
	opacity: 1;
}

.submenuOtros {
	position: absolute;
	background: #d1d1d1;
	padding: 0px 12px;
	border-radius: 8px 8px 20px 20px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.submenuOtros li a {
	display: block;
	padding: 8px;
}

.listaMenu li:hover .submenuOtros {
	visibility: visible;
	opacity: 1;
}

@media (max-width: 574px){
	/* Menu Celulares */
	/*.navegacion ul{
		justify-content: center;
	}*/

	.listaMenu {
		display:flow;
		flex-direction: none;
	}
	
	.listaMenu > li {
	position: static;
	display: grid;
	margin-left: -30px;
	justify-content: center;
	}
	
	.listaMenu > li > a {
	display: grid;
	border-radius: 10px;
	}
	
	.listaMenu li:hover .submenuDocs {
	position: static;
	visibility: visible;
	opacity: 1;
	}
	
	.listaMenu li:hover .submenuOtros {
	position: static;
	visibility: visible;
	opacity: 1;
	}
}

/* Pie de Página */

footer {
	padding: 8px;
	margin: 8px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.pie {
	display: flex;
	justify-content: space-evenly;
}

/* Otros */

a {
	text-decoration: none;
	color: #000000;
}

hr {
	height: 4px;
}