.presentacion {	
	padding: 8px 20px;
	margin: 8px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.contenCon {
	padding: 8px;
	margin: 8px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.contenChiqui {
	padding: 8px;
	margin: 8px;
	border-radius: 10px 10px 10px 10px;
	background: #cfcfcf;
}

aside {
	width: 80%;
	padding-left: 1px;
	margin-left: 1px;
	float: right;
}

/*Espacio de Index*/

blockquote { /*Este es único para Tiktok*/
	border-radius: 10px 10px 10px 10px;
}

/*Espacio de cualquier lista*/
.contenListas {
	padding: 0px 0px 20px 0px;
	border-radius: 10px 10px 10px 10px;
	background: #e0e0e0;
}

.lista {
	display: flex;
	justify-content: space-evenly;
}

.lista > div {
	padding: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #cfcfcf;
}

.lista > p {
	margin: 0;
}